@font-face {
    font-family: 'cursed-timer-ulil-font';
    src: url(font/CursedTimerUlil-Aznm.ttf);
   
}
html, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    color: white;
    background-color: rgb(27,36,74);
    height: 80%;
    width: 50%;
    font-size: 2rem;
}
.home-score-container, .guest-score-container{
    font-family: 'cursed-timer-ulil-font', sans-serif;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-bg h2{
    background-color: black;
    color: #F94F6D;
    width: 90px;
    height: 2em;
    border-radius: 8px;
    display: grid;
    place-items: center;
}
.increments{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #9AABD8;
}
.increments h5{
    border: solid 1px #9AABD8;
    padding: 3px;
    border-radius: 3px;
}